.button {
    display: "block";
    font-family: "Montserrat";
    background-color: var(--highlight);
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    transition: 0.2s ease-out;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: inherit;
    /* transform: translateY(-0.6rem); */
  }
  
  .button.inverted {
    background-color: var(--primary);
  }
  
  .button:hover {
    background-color: #033463;
  }
  
  .button:active {
    background-color: var(--primary);
    transition: 0s ease-out;
  }
  
  .button.inverted:hover {
    background-color: #000;
  }
  
  .chevron {
    vertical-align: middle;
    margin-left: 1rem;
  }